body{
  background-image: url(./craft-beer-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.name{
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 20px;
  font-size:large;
  font-family: 'Press Start 2P', cursive;
  color: rgb(212, 255, 183);
}

li{
  list-style-type: none;
}

ul{
  top: 200px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #02530d8b;
  width: 50vw;
  padding:30px;
}

h1{
  text-align: center;
  color:#000000;
  font-family: 'Press Start 2P', cursive;
}

span{
  font-weight: 700;
}