body{
  background: #6a6a6a;
}

.name{
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 20px;
  font-size:large;
  font-family: 'Press Start 2P', cursive;
  color: rgb(183, 255, 255);
}

li{
  list-style-type: none;
}

ul{
  top: 200px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #4aaeff8b;
  width: 50vw;
  padding:30px;
}

h1{
  text-align: center;
  color:#fff;
  font-family: 'Press Start 2P', cursive;
}

span{
  font-weight: 700;
}